.index {
    display: flex;
    height: 100vh;
    flex-flow: column;
}

.menu-content {
    overflow: scroll;
    height: 70vh;
}

.price-bar {
    position: absolute;
    bottom: 10vh;
    margin-bottom: 0;
}
