.order-container {
    padding: 30px;
}

.order-detail {
    margin-bottom: 3vh;
}

.total {
    margin: 3% 10%;
    text-align: right;
}

.pay-method {
    margin: 1.5% 3%;
}

.pay-method-label {
    padding: 3%;
    text-align: left;
}

